---
import Layout from '../../layouts/Layout.astro';
import About from '../../components/About.astro';

const lang = 'fr';
---

<Layout title="À Propos | ALAIN PALUKU" lang={lang}>
  <div class="pt-16 sm:pt-20">
    <About lang={lang} />
  </div>
</Layout>
