---
import Layout from '../../layouts/Layout.astro';
import Services from '../../components/Services.astro';

const lang = 'fr';
---

<Layout title="Services | ALAIN PALUKU" lang={lang}>
  <div class="pt-16 sm:pt-20">
    <Services lang={lang} />
  </div>
</Layout>
