---
import Layout from '../../layouts/Layout.astro';
import Articles from '../../components/Articles.astro';

const lang = 'en';
---

<Layout title="Articles | ALAIN PALUKU" lang={lang}>
  <div class="pt-16 sm:pt-20">
    <Articles lang={lang} />
  </div>
</Layout>
