---
import Layout from '../../layouts/Layout.astro';
import Contact from '../../components/Contact.astro';

const lang = 'en';
---

<Layout title="Contact | ALAIN PALUKU" lang={lang}>
  <div class="pt-16 sm:pt-20">
    <Contact lang={lang} />
  </div>
</Layout>
