---
import Layout from '../../layouts/Layout.astro';
import Articles from '../../components/Articles.astro';
import { getStaticLangPaths } from '../../utils/lang';
import { getPageTitle } from '../../data/pageTitles';
import type { Lang } from '../../i18n/translations';

export function getStaticPaths() {
  return getStaticLangPaths();
}

const { lang } = Astro.params as { lang: Lang };
---

<Layout title={getPageTitle('articles', lang)} lang={lang}>
  <div class="pt-16 sm:pt-20">
    <Articles lang={lang} />
  </div>
</Layout>
