---
import Layout from '../../layouts/Layout.astro';
import ContactComponent from '../../components/Contact.astro';
import { getStaticLangPaths } from '../../utils/routing';
import { getPageTitle } from '../../data/pageTitles';
import type { Lang } from '../../i18n/translations';

export function getStaticPaths() {
  return getStaticLangPaths();
}

const { lang } = Astro.params as { lang: Lang };
---

<Layout title={getPageTitle('contact', lang)} lang={lang}>
  <div class="pt-16 sm:pt-20">
    <ContactComponent lang={lang} />
  </div>
</Layout>
